<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="x-UA-Compatible" content="ie=edgel" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/allPageCss.css"
      th:href="@{/css/allPageCss.css}"
    />
    <link rel="stylesheet" href="/lib/editormd/css/editormd.min.css" />
    <title>后台管理</title>
  </head>
  <body>
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow">
      <div class="ui container">
        <!-- stackable 属性完成移动端的适配——使内部组件可堆砌 -->
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui teal header item">Magic Den 后台管理</h2>
          <a href="#" class="active item m-mobile-hide m-menu-item"
            ><i class="home icon"></i>博客</a
          >
          <a href="#" class="item m-mobile-hide m-menu-item"
            ><i class="idea icon"></i>分类</a
          >
          <a href="#" class="item m-mobile-hide m-menu-item"
            ><i class="tags icon"></i>标签</a
          >

          <div class="right menu m-mobile-hide m-menu-item">
            <div class="ui dropdown item">
              <div class="text">
                <img class="ui avatar image" src="/img/profile.png" />
                Merlin Dust
              </div>
              <i class="dropdown icon"></i>
              <!-- i标签内不能写东西，第二次！！！！！！！！！！！！！ -->
              <div class="menu">
                <a href="" class="item">注销</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        href="#"
        class="ui menu toggle black icon button m-nav-menu-button m-mobile-show"
      >
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <div>
      <div class="m-nav-background-img"></div>
    </div>

    <!-- 二级导航 -->
    <div class="ui attached pointing menu">
      <div class="ui container">
        <div class="right menu">
          <a href="" class="orange active item">发布</a>
          <a href="" class="item">列表</a>
        </div>
      </div>
    </div>

    <!-- 中间内容 -->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <form
          id="blog-form"
          action="#"
          method="post"
          th:action="@{/admin/blog}"
          class="ui form"
          th:object="${blog}"
        >
          <input type="hidden" name="published" />
          <input type="hidden" />
          <div class="field">
            <div class="ui left labeled input">
              <!-- compact 属性可以使选框由文字长短自适应 -->
              <div class="ui selection compact dropdown label">
                <input type="hidden" value="类型" name="flag" />
                <i class="dropdown icon"></i>
                <div class="default text">类型</div>
                <div class="menu">
                  <div class="item" data-value="原创">原创</div>
                  <div class="item" data-value="转载">转载</div>
                  <div class="item" data-value="翻译">翻译</div>
                </div>
              </div>
              <input type="text" name="title" placeholder="标题" />
            </div>

            <div class="required field">
              <div class="" id="md-content" style="z-index: 1 !important">
                <textarea
                  placeholder="博客内容···"
                  name="content"
                  style="display: none"
                  id=""
                  cols="30"
                  rows="10"
                ></textarea>
              </div>
            </div>

            <div class="two fields">
              <div class="required field">
                <div class="ui left labeled action input">
                  <label for="" class="ui compact label">分类</label>
                  <div class="ui fluid multiple search selection dropdown">
                    <!-- <input type="hidden" name="type.id" /> -->
                    <input type="hidden" name="typeId" value="" />
                    <i class="dropdown icon"></i>
                    <div class="default text">分类</div>
                    <div class="menu">
                      <div
                        th:each=" type : ${types}"
                        class="item"
                        data-value="1"
                        th:data-value="${type.id}"
                        th:text="${type.name}"
                      >
                        错误日志
                      </div>
                      <!-- /*
                    <div class="item" data-value="2">开发手册</div> 
                  */-->
                      <!-- <div class="item" data-value="1">错误日志</div>
                      <div class="item" data-value="2">开发者手册</div> -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="ui left labeled action input">
                  <label for="" class="ui compact label">标签</label>
                  <!-- multiple 多选的下拉菜单   search 可搜索的菜单 -->
                  <div class="ui fluid multiple search selection dropdown">
                    <input type="hidden" name="tagIds" />
                    <!-- <input type="hidden" name="tagIds" th:value="*{}" value="1,2,4"/> -->
                    <i class="dropdown icon"></i>
                    <div class="default text">标签</div>
                    <div class="menu">
                      <div class="item" data-value="1">Java</div>
                      <div class="item" data-value="2">JavaScript</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- required 为必选选项 -->
            <div class="required field">
              <div class="ui left labeled input">
                <label for="" class="ui label">博客封面</label>
                <input
                  type="text"
                  name="firstPicture"
                  placeholder="博客封面引用地址"
                />
              </div>
            </div>

            <div class="inline fields">
              <div class="field">
                <div class="ui checkbox">
                  <input
                    type="checkbox"
                    id="recommend"
                    name="recommend"
                    class="hidden"
                  />
                  <label for="recommend">推荐</label>
                </div>
              </div>

              <div class="field">
                <div class="ui checkbox">
                  <input
                    type="checkbox"
                    id="shareStatement"
                    name="shareInfo"
                    class="hidden"
                  />
                  <label for="shareStatement">转载声明</label>
                </div>
              </div>

              <div class="field">
                <div class="ui checkbox">
                  <input
                    type="checkbox"
                    id="appreciation"
                    name="appreciation"
                    class="hidden"
                  />
                  <label for="appreciation">赞赏</label>
                </div>
              </div>

              <div class="field">
                <div class="ui checkbox">
                  <input
                    type="checkbox"
                    id="commentabled"
                    name="comment"
                    class="hidden"
                  />
                  <label for="commentabled">评论</label>
                </div>
              </div>

              <div class="field">
                <a href="#" class="ui mini button m-next-button">添加分类</a>
                <a href="#" class="ui mini button m-next-button">添加标签</a>
              </div>
            </div>

            <!-- 错误信息显示框 -->
            <div class="ui error message"></div>

            <!-- 底部按钮 -->
            <div class="ui bottom m-margin-top">
              <div class="ui middle aligned two column grid">
                <div class="eleven column">
                  <!-- basic 属性可以使 颜色反转，要么是该颜色的字、边框，要么是该颜色的按钮 <a href="#" class="ui teal basic button m-next-button">上一页</a> -->
                  <a
                    href="#"
                    onclick="window.history.go(-1)"
                    class="ui teal button m-next-button"
                    >返回</a
                  >
                  <button
                    href="#"
                    button="button"
                    id="save-btn"
                    class="ui orange button m-next-button"
                  >
                    保存
                  </button>
                </div>
                <div class="five right aligned column">
                  <button
                    href="#"
                    button="button"
                    id="publish-btn"
                    class="ui green button m-next-button"
                  >
                    发布文章
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 底部信息 -->
    <footer class="ui inverted vertical segment m-paddedp-tb-massive">
      <div class="ui center aligned container">
        <!-- center aligned 内部居中 -->
        <div class="ui inverted divided stackable grid">
          <!-- grid 一行分为16份 ,inverted divided 显示分隔线-->
          <div class="three wide column center">
            <img
              src="../img/profile.png"
              alt=""
              class="ui rounded image m-img-middle"
              style="width: 110px"
            />
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">最新博客</h4>
            <div class="inverted link list">
              <a href="#" class="tiem">~</a>
              <a href="#" class="tiem">~</a>
              <a href="#" class="tiem">~</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">最新博客</h4>
            <div class="inverted link list">
              <a href="#" class="tiem">~</a>
              <a href="#" class="tiem">~</a>
              <a href="#" class="tiem">~</a>
            </div>
          </div>

          <div class="seven wide column">
            <h4 class="ui inverted header">最新博客</h4>
            <p>~~~~~~~~~~~~~~~~~~~~~~</p>
          </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p>Copyright @ 2019 - 2020 Designed by Merlin Dust</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="/lib/editormd/editormd.min.js"></script>

    <script>
      var testEditor;

      $(function () {
        testEditor = editormd("md-content", {
          width: "100%",
          height: 640,
          syncScrolling: "single",
          // 以下方式在模板中不起作用,只在静态页面中可以显示
          // path: "../../static/lib/editormd/lib/",
          path: "/lib/editormd/lib/",
        });

        /*
          // or
          testEditor = editormd({
              id      : "test-editormd",
              width   : "90%",
              height  : 640,
              path    : "../lib/"
          });
          */
      });

      $(".menu.toggle").click(function () {
        $(".m-menu-item").toggleClass("m-mobile-hide");
      });

      $(".ui.dropdown").dropdown({
        on: "hover",
      });

      // 表单数据验证
      $(".ui.form").form({
        fields: {
          title: {
            identifier: "title",
            rules: [
              {
                type: "empty",
                prompt: "请输入博客标题",
              },
            ],
          },
          content: {
            identifier: "content",
            rules: [
              {
                type: "empty",
                prompt: "请输入博客内容",
              },
            ],
          },
          typeId: {
            identifier: "typeId",
            rules: [
              {
                type: "empty",
                prompt: "请输入博客分类",
              },
            ],
          },
          firstPicture: {
            identifier: "firstPicture",
            rules: [
              {
                type: "empty",
                prompt: "请输入博客首图",
              },
            ],
          },
        },
      });

      $("#save-btn").click(function () {
        $('[name="published"]').val(false);
        $("#blog-form").submit();
      });

      $("#publish-btn").click(function () {
        $('[name="published"]').val(true);
        $("#blog-form").submit();
      });
    </script>
  </body>
</html>
