<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>error</title>
  </head>
  <body>
    <h1>error</h1>
    <!--  th:remove="tag" 移除标签，只剩内容文字 带有 " " -->
    <div>
      <div th:text="'Failed Request URL : ' + ${url}" th:remove="tag"></div>
      <div
        th:text="'Exception message : ' + ${exception.message}"
        th:remove="tag"
      ></div>
      <ul th:remove="tag">
        <li th:each=" st : ${exception.stackTrace}" th:remove="tag">
          <span th:text="${st}" th:remove="tag"></span>
        </li>
      </ul>
    </div>
  </body>
</html>
